# See https://github.com/prometheus-community/helm-charts/issues/12
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The repo admins team will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for review when someone opens a pull request.
* @prometheus-community/helm-charts-admins

/.github/workflows/ @prometheus-community/helm-charts-admins @GMartinez-Sisti
/renovate.json @prometheus-community/helm-charts-admins @GMartinez-Sisti

/charts/alertmanager/ 
/charts/dcgm-exporter/ 
/charts/kube-prometheus-stack/ 
/charts/kube-state-metrics/ 
/charts/prometheus-blackbox-exporter/ 
/charts/prometheus-node-exporter/ 
/charts/wiztelemetry-monitoring-helper/ 
